@import "~src/assets/styles/variables";
@import "~src/assets/styles/buttons";

body {
  margin: 0px;
  font-size: $brand-font-size;
  font-family: $brand-font;
  line-height: $brand-line-height;
  min-width: 300px;
  color: $brand-font-color;
}
